/* src/assets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Safari-specific fixes */
@layer utilities {
  .border-fix {
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: none;
  }
  
  /* Fix for arbitrary values */
  .bg-tenon-purple {
    background-color: #4f117a;
  }
}

/* Button fixes for Safari */
button, [type='button'], [type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
}